<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8">
    <title>Search Girls by @bifot</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="icon" href="img/favicon.png" type="image/png" />
    <meta name="viewport" content="user-scalable=0, width=device-width, initial-scale=1.0">
  </head>
  <body>
    <div class="view">
      <input class="view__width" type="checkbox" checked>во весь экран
      <input class="view__column view__column--four" type="checkbox">4 колонки
      <input class="view__column view__column--eight" type="checkbox">8 колонок
      <input class="view__online" type="checkbox">только online
    </div>
    <div class="container">
      <div class="girls">
        <% for (var key in data) { %>
          <% if (data[key]["online"]) { %>
            <div class="girls__item girls__item--online">
          <% } else { %>
            <div class="girls__item girls__item--offline">
          <% } %> 
            <img class="girls__photo" src="<%= data[key]["photo"] %>">
            <div class="girls__info">
              <% if (data[key]["online"]) { %>
                <p class="girls__name girls__name--online">
                  <a href="https://vk.com/id<%= data[key]["id"] %>" class="girls__link">
                    <%= data[key]["name"] %>
                  </a>
                </p>
              <% } else { %>
                <p class="girls__name girls__name--offline">
                  <a href="https://vk.com/id<%= data[key]["id"] %>" class="girls__link">
                    <%= data[key]["name"] %>
                  </a>
                </p>
              <% } %>
              <% if (data[key]["relation"] == 1) { %>
                <p class="girls__relation">не замужем</p>
              <% } else if (data[key]["relation"] == 3) { %>
                <p class="girls__relation">помолвлена</p>
              <% } else if (data[key]["relation"] == 4) { %>
                <p class="girls__relation">замужем</p>
              <% } else if (data[key]["relation"] == 6) { %>
                <p class="girls__relation">в активном поиске</p>
              <% } else if (data[key]["relation"] == 7) { %>
                <p class="girls__relation">влюблена</p>
              <% } %>
              <% if (data[key]["social"]) { %>
                <div class="girls__socials">
                  <% if (data[key]["social"]["instagram"]) { %>
                    <p class="girls__social girls__social--instagram">instagram: @<%= data[key]["social"]["instagram"] %></p>
                  <% } else if (data[key]["social"]["twitter"]) { %>
                    <p class="girls__social girls__social--twitter">twitter: @<%= data[key]["social"]["twitter"] %></p>
                  <% } else if (data[key]["social"]["skype"]) { %>
                    <p class="girls__social girls__social--skype">skype: @<%= data[key]["social"]["skype"] %></p>
                  <% } %>
                </div>
              <% } %>
              <a class="girls__send-message" href="<%= data[key]["sendMessageURL"] %>" onclick="nw(this.href, 1); return false;">
                  Написать сообщение
              </a>
            </div>
          </div>
        <% } %>
      </div>
    </div>
    <div class="footer">
      <p class="footer__copyright">
        © Search Girls by <a href="http://bifot.ru">@bifot</a>, 2016
      </p>
    </div>
    <link href="https://fonts.googleapis.com/css?family=PT+Sans:400,700" rel="stylesheet">
    <script src="js/common.js"></script>
  </body>
</html>