<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8">
    <title>Search Girls by @bifot</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="icon" href="img/favicon.png" type="image/png" />
    <meta name="viewport" content="user-scalable=0, width=device-width, initial-scale=1.0">
  </head>
  <body>
    <div class="view">
      <p class="view__count"><strong>Всего девушек:</strong> <%= Object.keys(data).length %></p>

      <input class="view__width" type="checkbox" checked>во весь экран
      <input class="view__column view__column--four" type="checkbox">4 колонки
      <input class="view__column view__column--eight" type="checkbox">8 колонок
      <input class="view__online" type="checkbox">online
      <input class="view__shit" type="checkbox">без плохих подписок
    </div>
    <div class="container">
      <div class="girls">
        <% for (var key in data) { %>
          <div class="girls__item <%= data[key]["className"] %>">
            <img class="girls__photo" src="<%= data[key]["photo"] %>">
            <div class="girls__info">
              <% if (data[key]["online"]) { %>
                <p class="girls__name girls__name--online">
                  <a href="https://vk.com/id<%= data[key]["id"] %>" class="girls__link">
                    <%= data[key]["name"] %>
                  </a>
                </p>
              <% } else { %>
                <p class="girls__name girls__name--offline">
                  <a href="https://vk.com/id<%= data[key]["id"] %>" class="girls__link">
                    <%= data[key]["name"] %>
                  </a>
                </p>
              <% } %>
              <% if (data[key]["relation"] == 1) { %>
                <p class="girls__relation">не замужем</p>
              <% } else if (data[key]["relation"] == 3) { %>
                <p class="girls__relation">помолвлена</p>
              <% } else if (data[key]["relation"] == 4) { %>
                <p class="girls__relation">замужем</p>
              <% } else if (data[key]["relation"] == 6) { %>
                <p class="girls__relation">в активном поиске</p>
              <% } else if (data[key]["relation"] == 7) { %>
                <p class="girls__relation">влюблена</p>
              <% } %>
              <% if (data[key]["status"].length) { %>
                <p class="girls__status">
                  <%= data[key]["status"] %>
                </p>
              <% } %>
              <% if (data[key]["groups"]["shit"].length) { %>
                <div class="girls__groups">
                  <a href="#!" class="girls__show-shit">
                    <% if (data[key]["groups"]["shitCount"] < 7) { %>
                      <% for (var i = 0, l = data[key]["groups"]["shitCount"]; i < l; i++) { %>
                        💩
                      <% } %>
                    <% } else { %>
                      💩 (😢)
                    <% } %>
                    /
                    <%= data[key]["groups"]["allCount"] %>
                  </a>
                  <a href="#!" class="girls__close">x</a>
                  <ol class="girls__list">
                    <% data[key]["groups"]["shit"].forEach(group => { %>
                      <li><%= group %></li>
                    <% }); %>
                  </ol>
                </div>
              <% } %>
              <div class="girls__socials">
                <% if (data[key]["social"]["instagram"]) { %>
                  <p class="girls__social girls__social--instagram">
                    instagram:
                    <a href="https://instagram.com/<%= data[key]["social"]["instagram"] %>">
                      @<%= data[key]["social"]["instagram"] %>                      
                    </a>
                  </p>
                <% } else if (data[key]["social"]["twitter"]) { %>
                  <p class="girls__social girls__social--twitter">
                    twitter:
                    <a href="https://twitter.com/<%= data[key]["social"]["twitter"] %>">
                      @<%= data[key]["social"]["twitter"] %>
                    </a>
                  </p>
                <% } else if (data[key]["social"]["skype"]) { %>                  
                  <p class="girls__social girls__social--skype">
                    skype: @<%= data[key]["social"]["skype"] %>
                  </p>
                <% } %>              
              </div>
              <a class="girls__send-message" href="<%= data[key]["sendMessageURL"] %>" onclick="nw(this.href, 1); return false;">
                  💌
              </a>
            </div>
          </div>
        <% } %>
      </div>
    </div>
    <div class="footer">
      <p class="footer__copyright">
        © Search Girls by <a href="http://bifot.ru">@bifot</a>, 2016
      </p>
    </div>
    <link href="https://fonts.googleapis.com/css?family=PT+Sans:400,700" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="js/common.js"></script>
  </body>
</html>